._account-login {

    input[type="checkbox"] {
        display:none;
    }

    input[type="checkbox"] + span:before {
        font-family: 'FontAwesome';
        padding: 0px 5px;
        font-size: 20px;
    }

    input[type="checkbox"] + span:before {
        position: relative;
        top: 3px;
        content: "\f096";
    }

    input[type="checkbox"]:checked + span:before {
        position: relative;
        top: 3px;
        content: "\f046";
    }

    #container {
        #main {
            margin-top: 0px;
            margin-bottom: 50px; 
            
            #content {
                width: 100%;

                .repad {
                    margin: 5px;

                    .loginContent {
                        width: 100%;
                    }

                    .loginbox {
                        width: auto;
                        float: none;
                        border: none;
                        clear: both;
                        padding: 0px 0px 20px;
                        height:auto !important;

                        .contentasset {
                            margin-bottom:0px;
                        }

                        form .createaccountbutton {
                            margin-top:0px;
                            width:100%;
                            float:none !important;

                            button {
                                padding:14px 12px;
                                height:auto;
                                width:100%;

                                span {
                                    margin:0px;
                                }
                            }
                        }
                    }

                    .logincustomers {
                        .returningcustomers {
                            margin: 0px;
                            .formfield {
                                width: 100%;
                                margin-bottom:10px;

                                .label {
                                    display: block;
                                    float: none;
                                    clear: both;
                                    text-align: left;
                                    margin-bottom:2px;
                                }
                                .value {
                                    width:100%;

                                    input {
                                        width: 100%;
                                    }
                                }
                                .checkbox {
                                    width: 100%;
                                    display: block;
                                    clear:both;
                                    text-align: left;
                                    padding: 5px 0px 10px 0px;
                                    margin: 3px auto;
                                    @include border-radius(5px);
                                    border: 1px solid #e2e2e2;
                                    background-color: #e9e9e9;

                                    label {
                                        display: inline;
                                        width: auto;
                                        margin: 5px;

                                        input {
                                            width: auto;
                                            margin: 10px 10px;
                                        }
                                    }
                                }
                            }
                            .formactions {
                                margin: 0px !important;

                                button {
                                    padding:14px 12px;
                                    height:auto;
                                    width: 100%;

                                    span {
                                        margin:0px;
                                    }
                                }
                            }
                            .forgotpassword {
                                margin: 10px 0 0 0;
                            }
                            .rememberme {
                                margin: 0px 0px 10px;

                                input {
                                    margin-right:5px;
                                }
                            }
                        }
                    }

                    .check-order {
                        width: auto !important;
                        height:auto !important;
                        padding: 0px;
                        margin:0px !important;

                        .checkorder {
                            padding:0px;

                            #dwfrm_ordertrack {
                                padding:0px !important;

                                .formactions {
                                    margin:0px;
                                    padding:0px;
                                }
                            }

                            .formactions {
                                display: block;
                                margin: 10px 0px;
                                padding-top: 10px;
                                clear: both;
                                text-align: left;

                                button {
                                    padding:14px 12px;
                                    height:auto;
                                    width:100%;

                                    span {
                                        margin:0px;
                                    }
                                }
                            }
                            .formfield {
                                margin: 0px 0px 10px;

                                .label {
                                    display: block;
                                    float: none;
                                    clear: both;
                                    text-align: left;
                                }

                                .value {
                                    width: 100%;
                                    float:none;

                                    input {
                                        width: 100%;
                                    }
                                }
                            }

                            #check-order-in-login .formactions {
                                padding-top:5px;
                                margin:0px;
                            }
                        }
                    }

                    #check-order-in-login {
                        margin-top:40px !important;
                    }
                }
            }
        }
    }

}
