._account-login {

    #container {
        #main {
            margin-top: 0px;
            margin-bottom: 50px; 
            
            #content {
                width: 100%;

                .repad {
                    margin: 5px;

                    .loginContent {
                        width: 100%;
                    }

                    .loginbox {
                        width: auto;
                        float: none;
                        border: none;
                        clear: both;
                        padding: 0px 0px 40px;
                        height:auto !important;

                        .contentasset {
                            margin-bottom:0px;
                        }

                        form .createaccountbutton {
                            margin-top:0px;
                        }
                    }

                    .logincustomers {
                        .returningcustomers {
                            margin: 0px;
                            .formfield {
                                width: 100%;

                                .label {
                                    display: block;
                                    float: none;
                                    clear: both;
                                    text-align: left;
                                }
                                .value {
                                    width:100%;

                                    input {
                                        width: 100%;
                                    }
                                }
                            }
                            .formactions {
                                margin: 0px !important;
                            }
                            .rememberme {
                                margin: 0px 0px 10px;
                            }
                        }
                    }

                    .check-order {
                        width: auto !important;
                        height:auto !important;
                        padding: 0px;
                        margin:0px !important;

                        .checkorder {
                            padding:0px;

                            #dwfrm_ordertrack {
                                padding:0px !important;

                                .formactions {
                                    margin:0px;
                                    padding:0px;
                                }
                            }

                            .formactions {
                                display: block;
                                margin: 10px 0px;
                                padding-top: 10px;
                                clear: both;
                                text-align: left;
                            }
                            .formfield {
                                margin: 0px 0px 10px;

                                .label {
                                    display: block;
                                    float: none;
                                    clear: both;
                                    text-align: left;
                                }

                                .value {
                                    width: 100%;
                                    float:none;

                                    input {
                                        width: 100%;
                                    }
                                }
                            }

                            #check-order-in-login .formactions {
                                padding-top:5px;
                                margin:0px;
                            }
                        }
                    }

                }
            }
        }
    }

}
