._checkout-review {

    #container {
        #main {
            .checkoutprogressindicator > div {
                float: none;
                display: block;
            }
            .checkoutplaceorder {
                border: none;

                .placeholdertableheader {
                    th {
                        border-top: 1px solid #717171;
                        background-color: #eee                
                    }
                }
            }
            .expirationdate {
                div {
                    width: 100px;
                    float: left;

                }
                .selectbox {
                    width: 100px;
                }
            }
            #rightcolumn {
                width: 100%;
                margin-top: 0px;
                .checkoutminisummary {
                    display: none;
                }
            }
        }
    }
    #cartbackmsg {
        display: none !important;
    }
}