._checkout-review {

    #container {
        #main {
            .checkoutprogressindicator {
                margin-bottom:10px;

                > div {
                    float: none;
                    display: block;
                    border:1px solid #717171;
                    margin:0px;
                }
            }
            .checkoutplaceorder {
                border: none;

                .placeholdertableheader {
                    th {
                        border-top: 1px solid #717171;
                        background-color: #eee                
                    }
                }

                .placeordertable {
                    @include box-sizing(border-box);
                    width:100%;
                    margin:0px;

                    tr.tablerow {
                        > td {
                            padding:0px;
                        }
                    }
                }
            }
            .expirationdate {
                div {
                    width: 100px;
                    float: left;

                }
                .selectbox {
                    width: 100px;
                }
            }
            #rightcolumn {
                width: 100%;
                margin-top: 0px;
                .checkoutminisummary {
                    display: none;
                }
            }
        }
    }
    #cartbackmsg {
        display: none !important;
    }
}