._checkout-review {

    #container {
        #main {
            .headerslot {
                display:block;

                .headerslotcontent {
                    height:15px;

                    .bottombannercontainer a {
                        display:none;
                    }
                }
            }

            .checkoutprogressindicator {
                @include box-sizing(border-box);
                display:table;
                width:100%;
                border:1px solid #717171;
                margin-bottom:10px;

                > div {
                    float: none;
                    display:table-cell;
                    vertical-align:middle;
                    border:0px;
                    border-right:1px solid #717171;
                    margin:0px;
                    padding:6px 12px;
                }

                > div:last-child {
                    border-right:0px;
                }
            }

            .checkoutplaceorder {
                border: none;
                margin-bottom:0px;

                .placeholdertableheader {
                    th {
                        border-top: 1px solid #717171;
                        background-color: #eee                
                    }
                }

                .placeordertable {
                    @include box-sizing(border-box);
                    width:100%;
                    margin:0px;

                    .tablerow {
                        margin:0px 0px 10px;
                        padding-bottom:10px;
                        border-bottom:1px solid #999;

                        > div {
                            @include box-sizing(border-box);
                            display:inline-block;
                            vertical-align:top;
                        }

                        .imagecolumn {
                            width:30%;
                            padding-right:10px;

                            img {
                                width:100%;
                            }
                        }

                        .right-side {
                            width:68%;

                            > div {
                                margin-bottom:2px;
                            }
                            > div:last-child {
                                margin-bottom:0px;
                            }
                        }
                    }
                }

                .placeorder_footer .placeordertotals {
                    width:auto;
                    float:none;

                    .ordertotals {
                        float:none;
                        width:auto;
                        margin:0px;
                    }
                }

                > .formactions {
                    padding:20px 0px;
                    text-align:left;

                    form fieldset {
                        > * {
                            display:inline-block;
                            vertical-align:middle;
                        }

                        a {
                            padding:8px 0px;
                        }

                        button {
                            text-align:center;
                            float:right;
                            padding:8px 12px;
                            height:auto;
                        }
                    }
                }
            }
            .expirationdate {
                div {
                    width: 100px;
                    float: left;

                }

                .selectbox {
                    width: 100px;
                }
            }

            #rightcolumn {
                width: 100%;
                margin-top: 0px;
                padding:0px;

                > div .details {
                    padding:6px;
                }

                > .contentasset {
                    margin:0px;
                }
            }
        }
    }
    #cartbackmsg {
        display: none !important;
    }
}