._checkout-billing {

    #container {
        #main {
            .checkoutprogressindicator > div {
                float: none;
                display: block;
                border:1px solid #717171;
                margin:0px;
            }

            .checkoutbilling {
                border: none;

                .formfield {
                    width: 100%;

                    .label {
                        display: block;
                        width: 100%;
                        float: none;
                        clear: both;
                        text-align: left;
                    }

                    .value {
                        width:100%;

                        select, input {
                            width: 100%;
                        }
                    }

                    .checkbox {
                        input {
                            width: auto;
                            margin-right: 10px;
                        }
                    }
                }

                .continuecheckoutbuttontop, .continuecheckoutbutton {
                    padding:20px 0px 0px;

                    #btnContinue, #btnContinuetop {
                        background:none !important;
                        padding:0px;
                        height:auto;

                        span {
                            display:block;
                            padding:12px 15px;
                        }
                    }
                }
            }
            .expirationdate {
                div {
                    width: 100px;
                    display:inline-block;
                    vertical-align:middle;
                }
                .selectbox {
                    width: 100px;
                }
            }

            #couponsform .formfield.giftcertfield {
                .label, .value {
                    float:none;
                    width:auto;
                    display:inline-block;
                    vertical-align:middle;
                }

                .value {
                    width:65%;
                }

                button {
                    display:inline-block;
                    vertical-align:middle;
                    padding:8px 12px;
                    height:auto;

                    span {
                        display:block;
                    }
                }

                span.checkbalance {
                    display:block;
                }
            }

            #rightcolumn {
                width: 100%;
                margin-top: 0px;

                .checkoutminicart {
                    height: auto;
                    max-height: 10000px !important;
                }
            }
        }
    }
    #cartbackmsg {
        display: none !important;
    }
}