._checkout-login {
    #container #main #content {
        .headerslot .headerslotcontent {
            height:15px;

            .bottombannercontainer a {
                display:none;
            }
        }

        .checkoutloginhome {
            button.mediumbutton {
                height:auto;
                padding:10px 12px;
                width:100%;

                span {
                    margin:0px;
                }
            }

            .loginContent {
                margin-top:20px;

                .logincustomers .formactions {
                    margin-top:20px;
                }
            }
        }
    }
}
