._checkout-shipping {

    #container {
        #main {
            .checkoutprogressindicator > div {
                float: none;
                display: block;
            }
            .checkoutshipping {
                border: none;
                .formfield {
                    width: 100%;

                    .label {
                        display: block;
                        width: 100%;
                        float: none;
                        clear: both;
                        text-align: left;
                    }
                    .value {
                        width:100%;

                        select, input {
                            width: 100%;
                        }
                    }
                    .checkbox {
                        input {
                            width: auto;
                            margin-right: 10px;
                        }
                    }
                }
            }
            #rightcolumn {
                width: 100%;
                margin-top: 0px;
            }
        }
    }
    #cartbackmsg {
        display: none !important;
    }
}