._customer-service {
    #container {
        #main {
            margin-top: 0px;

            #content {
                width: 100%;

                .contactus {
                    width: 100%; 

                    .contentasset {
                        margin: 0px;
                        width: 100%;

                        .blockCustService {
                            width: 100%;
                            padding: 10px 0px 0px;
                            margin: 0px;
                            height: auto;

                            > div {
                                width: 100% !important;
                                margin: 0px 5px 5px;
                                padding: 0px 0px 10px 35px;
                                float: none;
                                border-bottom: 1px solid #e0e0e0;
                            }
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    form {
                        width:auto;

                        * {
                            @include box-sizing(border-box);
                            width:100%;
                        }

                        .formfield {
                            width: 100%;
                            margin-bottom:10px;

                            .label {
                                display: block;
                                width: 100%;
                                float: none;
                                clear: both;
                                text-align: left;
                                font-size:14px;
                                line-height:normal;
                            }
                            .value {
                                width:100%;
                                font-size:14px !important;
                                line-height:normal !important;

                                select, input, textarea {
                                    width: 100%;
                                    height:auto;
                                    font-size:14px;
                                    line-height:normal;
                                    padding:6px;
                                }
                            }
                            .checkbox {
                                input {
                                    width: auto;
                                    margin-right: 10px;
                                }
                            }
                            .requiredindicator {
                                width: 10px;
                                float: left;
                            }
                        }

                        .formactions #sendBtn {
                            height:auto;
                            padding:6px 12px;
                            font-size:14px !important;
                            line-height:normal;
                        }
                    }
                }
            }
        }
    }
}