._gc-purchase {

    button {
        background-color: black;
        border: none;
        color: #fff;
        padding: 12px;
    }

    .giftcertpurchase {
        width: 100%;

        .giftcertcolumn {
            width: 100%;
            float: none;

            .giftcheckbalance {
                margin:0px;
            }
                    
            .contentasset {
                margin: 0px !important;

                h1 {
                    color: #484848;
                    background: #F0F0F0;
                    padding: 12px;
                    margin-bottom: 5px;
                    margin: 0px !important;
                    font-family: 'TradeGothicLTStdBold', Helvetica, Arial, sans-serif;
                    font-size: 17px;
                    font-weight: bold;
                }
            }

            .giftcertificatepurchaseinformation {
                .formfield {
                    width:100%;

                    .label {
                        width: auto;
                        display: block;
                        float: none;
                        text-align: left;
                    }
                    .value {
                        width: 100%;

                        input, textarea {
                            width: 100%;
                        }
                    }
                }
            }

            .giftcertificateamounttable {
                input {
                    margin: 0px -3px;
                }
                .amountlabel {
                    font-size: 1em;
                    margin: 0px 3px 0px 0px;
                }
                #AddToBasketButton {
                    white-space: nowrap;
                }
            }

            .giftcheckbalance {

                .contentasset p img {
                    width: 100%;
                }

            }

            .giftcheckbalanceform {
                padding-bottom: 20px;

                form {
                    .value {
                        @include box-sizing(border-box);
                        display:inline-block;
                        vertical-align:top;
                        width:65%;
                        float:none;
                    }

                    button {
                        @include box-sizing(border-box);
                        display:inline-block;
                        vertical-align:top;
                        width:33%;

                        font-size:12px;
                        line-height:normal;

                        span {
                            padding:0px;
                        }
                    }
                }
            }
        }
    }
}