._generic-content {

    #container {
        #main {
            margin-top: 0px;
            #content {
                width: 100%;
                .contentasset {
                    margin: 5px 0px;
                    width: 100%;

                    ul, ol {
                        padding: 0px 0px 0px 15px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }

                    .pressStage {
                        width: 100%;

                        .panel > h3 {
                            background: none;
                            padding: 10px 0px;
                            border-bottom: 1px solid  #ddd;

                            a {
                                color: #333;
                            }
                        }

                        ul > li {
                            margin: 0px;
                            width: 120px;
                            height: auto;
                            .pressInfo {
                                width: 120px;
                            }
                        }
                    }

                    #international-shipping-faq {
                        width: 100%;

                        > h1 {
                            background: none;
                            color: #333;
                            padding: 0px;
                            width: 100%;
                        }

                        .panel {

                            > h3 a {
                                padding: 0px 0px 5px;
                            }
                            ul {
                                padding: 0px;
                            }
                        }
                    }

                    .size-chart-table {
                        ul.ui-tabs-nav {
                            padding: 0px;

                            li {
                                float: none;
                                clear: both;
                                border: none;
                                border-bottom: 1px solid #ccc;

                                a {
                                    display: block;
                                    width: 100%;
                                    padding: 10px 0px;
                                    color: #333 !important;
                                }
                            }
                        }
                    }

                    #sp_details_wrapper {
                        width: 100%;
                        height: auto;

                        #sp_details_box1 {
                            width: 100%;

                            p:first-of-type {
                                font-size: 24px !important;
                            }
                            p:last-of-type {
                                display: none;
                            }
                            p {
                                margin: 5px 0px;
                            }
                        }

                        #sp_details_box2 {
                            float: none;
                            width: 100%;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }

}