// Every page should have a class on the body
// Scope that in each file at the start
._home {
    #container {
        padding: 0px;
    }

    #main {
        height:auto;

        #content {
            height:auto;
            padding:0px !important;

            .headerslot {
                margin: 0px;
            }
        }
    }
    #banners-container {
        a {
            display:block;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .headerslot .headerslotcontent .bottombannercontainer {
        margin-bottom: 0px;
    }
    .homepage {
        .bottombannercontainer {
            a, img, div {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
        #ftwrapper {
            div {
                max-width: 100%;
            }
        }
    }

    .home-slot-top > div {
        display: none;
    }

    .disabledcontainer {
        display: none;
    }

    #cartmsg {
        display: none;
    }

}