._product {
    h1.productname {
        margin: 5px 0px 0px;
    }.productinfopricing {
        margin: 0px 0px 5px;

        .productid {
            display: none;
        }

        :nth-child(1) {
            width: 100% !important;
            float: none !important;

            .salesprice, .standardprice {
                font-size: 14px;
            }
        }

    }
    #_flexslider {
        position: relative;
        min-height: 276px;
        margin-bottom: 40px;
        
        i {
            position: absolute;
            top: 40%;
            font-size: 50px;
            color: #cccccc;
            &.fa-chevron-right {
                right: 0px;
            }
        }
        .flexslider {
            width: 80%;
            margin: 0 auto;
            padding: 15px 0;
            @include box-shadow(none);
        }

    }
    .productdetail .productinfo {
        width: auto;
        float: none !important;
        margin: 0;
        span.label, a {
            font-family: Arial;
            font-size: 14px;
        }
        .attributecontentlink {
            display: none;
        }

        .detailsblock {
            border-color: #e8e8e8;
            &._slider-container, &.mainattributes {
                border-width: 0;
            }
        }


        .swatches:not(.color) {
            .swatchanchor {
                padding: 10px;
                border-color: #999999;

                @include border-radius(0px);
            }
            .selected {
                .swatchanchor {
                    background-color: #999999;
                    color: #ffffff;
                }
            }
        }
        .swatches.color
        {
           border-bottom: 1px solid #e8e8e8;
            li {
                width: 30px !important;
                height: 30px !important;
                border-radius: 15px !important;
                a.swatchanchor
                {
                    width: 30px !important;
                    height: 30px !important;
                    @include box-sizing(border-box);
                    border-radius: 15px !important;
                    border: 5px double #CCC;
                }
            }
        }
        .addtocartbar {
            height: auto;
            margin-bottom: 6px;
            .addtocart {
                display: block;
                .quanity {
                    background-color: #666666;
                    color: #fff;
                    margin-top: 0;
                    padding: 5px;
                    vertical-align: middle;
                    float: none;
                    display: inline-block;
                    width: 30%;
                    height: auto;
                    text-align: right;
                    @include box-sizing(border-box);
                    @include border-radius(5px);

                    span {
                        display: inline-block;
                        vertical-align:middle;
                        padding: 0;
                    }
                    input {
                        width: 50% !important;
                        display: inline-block;
                        float: none;
                        padding: 3px 0px !important;
                        margin: 0;
                        font-size: 15px !important;
                        color: #999;
                        font-weight: bold;
                        height:30px;
                    }
                }
                .addtocartbutton {
                    width: 68%;
                    height: 40px;
                    margin: 0;
                    background-color: #cc0000;
                    @include box-sizing(border-box);
                    @include border-radius(5px);
                }
            }
        }
        div[data-ur-set=toggler] {
            a[data-ur-toggler-component=button] {
                display: block;
                padding: 12px 10px;
                font-size: 18px;
                font-weight: bold;
                color: #555;
                background-color: #dbdbdb;
                i {
                    font-size: 30px;
                    float: right;
                    margin-top: -5px;
                    color: #c5c5c5;
                }
                i.fa-minus-circle {
                    display: none;
                }
                &[data-ur-state=enabled] {
                    i.fa-plus-circle {
                        display: none;
                    }
                    i.fa-minus-circle {
                        display: block;
                    }
                }
            }
            div[data-ur-toggler-component=content] {
                padding: 10px 6px;
                border: 1px solid #dbdbdb;
                table {
                    margin: 0 !important;

                    a[href^="tel:"], a[href^="mailto:"] {
                        font-size:12px;
                        color:#666;
                    }
                }
            }
            margin-bottom: 2px;
        }
    }
    .productactions, .productrelateditems, .productreview {
        display: none;
    }
    #BVRRRatingSummaryLinkWriteID {
        display: none !important;
    }
    #BVRRRatingSummaryLinkReadID {
        background: none;
    }
    .BVRRReviewDisplayStyle5Header {
        margin: 0px;
    }
    .BVRRReviewDisplayStyle5BodyContentSecondary {
        float: none;
        width:100%;
        margin: 0px;
    }
    .BVRRReviewDisplayStyle5BodyContentPrimary {
        float: none;
        width:100%;
        margin: 0px;    
    }
    .BVRRReviewDisplayStyle5BodyUser {
        float: none;
        width:100%;
        margin: 0px;    
    }
    .BVRRBuyAgainContainer {
        clear: both;
        width: 100% !important;
        position: relative !important;
        left: auto !important;
        top: auto !important;
    }
}