._product-list {
    #pe_rBanner {
        width: auto;
        height: 35px;
        line-height: 35px;
        margin: 0px;
        border: none;
        float: left;
    }
    .extended-text {
        float: right;
        a i {
            font-size: 24px;
        }
    }
    .extended-text-content {
        clear: both;
    }
    .promo {
        float: left;
        padding: 0px;
    }
    ._action-buttons {
        border-top: 1px solid #d0d0d0;
        padding-top: 10px;
        margin-top: 10px;
        display: table;
        width: 100%;
        table-spacing: 1px;
        ._action-button {
            text-align: center;
            display: table-cell;
            width: 50%;
            div {
                margin-right: 6px;
                padding: 10px;
                background-color: #e9e9e9;
                color: #666666;
                font-size: 14px;
                @include border-radius(5px);

                i {
                    padding: 5px;
                }
            }
            &#_bag-button {
                div {
                    padding: 13px 13px 14px;
                    text-indent: 15px;
                    span {
                        position: relative;
                        i {
                            background: image-url("button-bag.png") no-repeat;
                            width: 20px;
                            height: 20px;
                            display: block;
                            position: absolute;
                            left: -20px;
                            top: 2px;
                            background-size: 15px;
                        }
                    }
                }

            }
            &:last-of-type {
                div {
                    margin-right: 0;
                }
            }
        }
    }
    #_sort-refine {
        a, a:link, a:visited, a:hover, a:active {
            text-decoration: none !important;
        }
        ul._sort-options {
            display: none;
            li {
                background-color: #e9e9e9;
                border-radius: 4px;
                font-family: 'TradeGothicLTStdBold', Helvetica, Arial, sans-serif;
                font-size: 14px;
                margin: 4px 0;
                padding: 0;
                a {
                    color: black;
                    display: block;
                    padding: 12px;
                }
            }
        }
        #searchrefinements {
            display: none;
            #refinement-category {
                display: none;
            }
            .navgroup {
                background-image: none;
                margin: 4px 0;
                padding: 0;
                h3 {
                    background-color: #e9e9e9;
                    border-radius: 4px;
                    font-size: 14px;
                    padding: 12px;
                    text-transform: none;
                    span {
                        background-image: none;
                        padding: 0;
                    }
                }
                ._refinedClear {
                    float: right;
                    font-size: 24px;
                    margin-top: -35px;
                    margin-right: 11px;
                }
                div.refineattributes {
                    display: none;
                    .scrollable {
                        border: none;
                    }
                    ul li {
                        border-bottom: 1px solid #ccc;
                        font-size: 14px;
                        height: auto !important;
                        width: auto !important;
                        &:last-child {
                            border-bottom: none;
                            margin-bottom: -3px;
                        }
                        a {
                            background-position: 12px center;
                            display: block;
                            margin: 0;
                            padding: 12.5px 0 12px 32px !important;
                        }
                    }
                    .swatches.Color ul li {
                        border-bottom: none;
                        border-radius: 15px !important;
                        margin: 0 0 10px 10px !important;
                        a {
                            border-radius: 15px !important;
                            height: 30px !important;
                            padding: 0 !important;
                            width: 30px !important;
                        }
                        &.selected {
                            @include box-shadow(none !important);
                            a {
                                height: 26px !important;
                                width: 26px !important;
                            }
                        }
                    }
                }
                &#refinement-size,
                &#refinement-waist,
                &#refinement-length,
                &#refinement-chest {
                    ul {
                        padding-top: 4px;
                        li {
                            border-bottom: none;
                            float: left;
                            margin: 0 2px 2px 0;
                            a {
                                background-image: none;
                                border: 1px solid #999;
                                font-size: 14px;
                                padding: 10px 0 !important;
                                text-align: center;
                                width: 69px;
                            }
                        }
                    }
                }
            }
        }
        &._show-refine #searchrefinements,
        &._show-sort ul._sort-options {
            display: block;
        }
        &._show-refine #_refine-button div,
        &._show-sort #_sort-button div {
            background-color: #999;
            color: white;
        }
    }
    .search-breadcrumbs {
        display: none;
    }
    #leftcolumn {
        display: none;
    }
    #mysitewide-banner, #mysitewide-banner img {
        width: 100%;
        height: auto;
    }
    #content {
        margin-top: 0px;
        width: 100%;

        .productlisting {
            width: auto;
            text-align: center;

            .producttile {
                margin: 0px !important;
                display: inline-block;
                float: none;

            }
            .product {
                width: 145px;
                // height: 310px;
                height: auto;
                padding: 6px 0;
                .more_options_available {
                    width: 100%;
                    background-color: #c00;
                    color: #fff;
                    position: absolute;
                    bottom: 0px;
                    font-weight: bold;
                    opacity: 0.85;
                    line-height: 20px;
                    text-align: center;
                    margin:0px 1px;
                }
                .image {
                    display: block;
                    width: 100%;
                    height: 196px;
                }
                .productimage {
                    height: auto;
                    border: 1px solid #fff;

                    &.crossfade {
                        height: auto;

                        img {
                            height: auto;
                            position: relative;

                            &:last-of-type {
                                display: none;
                            }
                        }
                    }
                }
                .review {
                    padding: 0px;
                    margin-left: -10px;
                }
                .swatches, .name, .pricing
                {
                    margin: -5px 0 0px;
                    float: left;
                    height: auto;
                    width: 100%;
                    text-align: center;

                    .palette {
                        height: auto;

                        a.swatch
                        {
                            width: 36px;
                            height: 36px;
                            @include box-sizing(border-box);
                            @include border-radius(18px);
                            border: 1px solid #CCC;

                            img {
                                border: none;
                                margin: 2px;
                                width: 30px;
                                height: 30px;
                                @include border-radius(15px);
                                @include box-sizing(border-box);
                            }
                        }
                    }
                }

                .swatches {
                    display: none;
                }

                .actionsblock {
                    /*display: none;*/
                    clear: both;
                    width: 100%;
                    text-align: center;

                    .review {
                        width: 100%;
                    }
                }
            }
        }

        .extended-text {
            padding: 5px 0px 0px !important;
        }

        .extended-text-title {
            text-align: left;
        }

        .producthits {
            margin-top: -10px;
        }

        .pagination li {
            font-size:12px;
            width:auto;
            height:auto;
            padding:8px 12px;
            line-height:normal;
        }

        .pagination li.firstlast {
            display:inline-block;
            vertical-align:top;
            margin:0px 0px 0px 5px !important;
            padding:0px;

            a {
                display:block;

                span {
                    display:block;
                    line-height:normal;
                    font-size:26px !important;
                }
            }
        }

        #search .nohits {
            .noresults-help, .nohitssearch {
                padding:10px 0px;
                margin:0px;

                form fieldset {
                    > * {
                        display:inline-block;
                        vertical-align:middle;
                    }
                    input {
                        width:43% !important;
                    }
                    button {
                        height:auto;
                        padding:8px 12px;
                        margin-left:5px;

                        span {
                            display:block;
                            margin:0px;
                        }
                    }
                }
            }

            .noresultbottom {
                .errorLeft {
                    float:none;
                    width:auto;
                    padding:0px;
                    height:auto;

                    .contentasset {
                        margin:0px;

                        p {
                            margin:10px;
                        }
                    }
                }

                .nohitsfooter {
                    display:none;
                }
            }
        }
    }
}