._product {
    .productdetail .productinfo {
        width: auto;
        float: none !important;
        margin: 0;

        .swatches:not(.color) {
            .swatchanchor {
                padding: 10px;
                border-color: #999999;

                @include border-radius(0px);
            }
            .selected {
                .swatchanchor {
                    background-color: #999999;
                    color: #ffffff;
                }
            }
        }
        .swatches.color
        {
            li {
                width: 30px !important;
                height: 30px !important;
                border-radius: 15px !important;
                a.swatchanchor
                {
                    width: 30px !important;
                    height: 30px !important;
                    @include box-sizing(border-box);
                    border-radius: 15px !important;
                    border: 5px double #CCC;
                }
            }
        }
    }
}