._store-locator {

    #container {
        #main {
            margin-top: 0px;

            #content {
                width: 100%;

                #store-locator-div {
                    padding-bottom:20px;

                    #input-div {
                        label {
                            display:block;
                            text-align:left;
                            padding-top:10px;
                        }

                        #find-button {
                            @include appearance(none);
                            background-color: black;
                            border: none;
                            @include border-radius(0);
                            color: white;
                            font-size: 14px;
                            margin:10px 0px 20px;
                            padding: 10px 0;
                            width: 100%
                        }
                    }

                    #filter-div {
                        display: none;
                    }

                    #stores-div {
                        border: 1px solid #ddd;
                        padding: 5px;
                        margin-bottom: 5px;

                        h3 {
                            font-size: 18px;
                            font-weight: bold;
                            &:not(:first-child) {
                                margin-top: 12px;
                            }
                        }

                        >div {
                            line-height: 1.4;
                            border-top: 1px solid #ddd;
                            font-size: 14px;
                            margin: 10px 0 0;
                            padding-top: 5px;

                            a, a:link, a:visited, a:hover, a:active {
                                font-size: 14px;
                                text-decoration: none;
                            }
                            > b > a {
                                &, &:link, &:visited, &:hover, &:active {
                                    font-size: 16px;
                                }
                            }
                            > a {
                                &, &:link, &:visited, &:hover, &:active {
                                    background-color: black;
                                    color: white;
                                    display: inline-block;
                                    line-height: 1.2;
                                    margin-top: 10px;
                                    padding: 10px 0;
                                    text-align: center;
                                    width: 49%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
