._wish-list-login {

    #container {
        #main {
            margin-top: 0px;
            margin-bottom: 50px; 
            
            #content {
                width: 100%;

                button {
                    padding: 14px 12px;
                    height: auto;
                    width: 100%;
                    margin-bottom: 20px;
                }

                .createaccountbutton {
                    float: none;
                    clear: both;
                    width: 100%;
                    margin-top: 10px !important;
                    margin-bottom: -40px;
                }
                .fullwidth {
                    padding-top: 10px;
                }

                .wishlistlogin {
                    margin: 5px;

                    .loginContent {
                        width: 100%;
                    }

                    div.loginbox {
                        width: auto;
                        float: none;
                        border: none;
                        padding: 0px 0px 40px;
                        height:auto !important;

                        .contentasset {
                            margin-bottom:0px;
                        }

                        form .createaccountbutton {
                            margin-top:0px;
                        }
                    }

                    .logincustomers {
                        .returningcustomers {
                            margin: 0px;
                            .formfield {
                                width: 100%;

                                .label {
                                    display: block;
                                    float: none;
                                    clear: both;
                                    text-align: left;
                                }
                                .value {
                                    width:100%;

                                    input {
                                        width: 100%;
                                    }
                                }
                            }
                            .formactions {
                                margin: 0px !important;
                            }
                            .rememberme {
                                margin: 0px 0px 10px;
                            }
                        }
                    }

                    .logingeneral {
                        .wishlistsearch {
                            margin: 0px;
                            .formfield {
                                width: 100%;

                                .label, .warning {
                                    display: block;
                                    width: 100%;
                                    float: none;
                                    clear: both;
                                    text-align: left;
                                }
                                .value {
                                    width:100%;

                                    input {
                                        width: 100%;
                                    }
                                }
                            }
                            .formactions {
                                margin: 0px !important;
                            }
                            .rememberme {
                                margin: 0px 0px 10px;
                            }
                        }
                    }

                }
            }
        }
    }

}
