html {
    body {
        #container {
            width: auto;
            min-width: 0;
            padding: 0px;
            @include box-sizing(border-box);
        }

        .formfield {
            margin-bottom:10px;
        }

        input[type="text"], input[type="email"], input[type="password"],
        input[type="tel"], select, textarea {
            @include box-sizing(border-box);
            height:auto !important;
            width:100% !important;
            font-size:14px !important;
            line-height:normal !important;
            padding:6px !important;
        }

        input, input[type=text], input[type="password"] {
            background-color: white;
            border: 1px solid #CCCCCC;
            padding: 1px;
            vertical-align: middle;
            z-index: -1;
        }

        #main {
            position:static;
            margin:47px 0px 0px !important;

            #content, #rightcolumn {
                width:auto !important;
                float:none;
                padding:0px 6px;
                margin:0px;

                .headerslot {
                    margin: 0px -6px 6px;

                    .headerslotcontent {
                        background-color: #000;
                        padding:6px;

                        .bottombannercontainer {
                            text-align: center;
                            margin: 0px 5px;

                            span {
                                color: #e57f7f;
                                font-weight: bold;
                                text-transform: uppercase;
                                font-family: arial !important;
                            }

                            a.fancybox {
                                display: none;
                                text-transform: capitalize;
                                text-decoration: underline;
                            }

                            a, a span {
                                display:block;
                                color: #fff;
                                width:auto;
                            }
                        }
                    }
                }

                .contentslot {
                    width:auto !important;
                }
            }
        }
        #cboxOverlay {
            display: none !important;
        }
        #colorbox {
            display: none !important;
            #cboxWrapper {

                @include box-sizing(border-box);
            }
            #cboxLoadedContent {
                * {
                    float: none !important;
                    max-width: 100%;
                    height: auto;
                    display: block;
                    @include box-sizing(border-box);
                }
            }
        }

        .custinfo {
            display: none;
        }

        #jPanelMenu-menu {
            background-color: #333;
            overflow-y: auto !important;
        }

        #tooltip.tooltipshadow {
            @include box-sizing(border-box);
            width:90%;
            left:5% !important;
            padding:0px;

            .tooltipcontainer {
                padding:8px;
                line-height:1.3em;
            }
        }
        #_scroll-to-top {
            display: none;
            position: fixed;
            border-radius: 3px;
            bottom: 5px;
            right: 5px;
            height: 30px;
            width: 40px;
            padding: 10px;
            background-color: #000;
            opacity: .2;
            text-align: center;

            i {
                color: #fff;
                line-height: 30px;
                font-size: 35px;
                font-weight: bold;
            }
        }
    }
}
