#container {
    width: auto;
    min-width: 0;
    padding: 0px;
    @include box-sizing(border-box);

}
#main {
    margin: 0px 6px;
    .headerslot {
        margin: 0px -6px 6px;
    }
}
#cboxOverlay {
    display: none !important;
}
#colorbox {
    display: none !important;
    #cboxWrapper {

        @include box-sizing(border-box);
    }
    #cboxLoadedContent {
        * {
            float: none !important;
            max-width: 100%;
            height: auto;
            display: block;
            @include box-sizing(border-box);
        }
    }
}

.headerslot .headerslotcontent .bottombannercontainer {
    text-align: center;
    margin: 0px 5px;
    span {
        color: #e57f7f;
        font-weight: bold;
        text-transform: uppercase;
        font-family: arial !important;
    }
    a.fancybox {
        display: none;
        text-transform: capitalize;
        text-decoration: underline;
    }
    a, a span {
        color: #fff;
    }
    padding-bottom: 6px;
}
.headerslotcontent {
    background-color: #222;
    padding-top: 5px;
}
.custinfo {
    display: none;
}
#jPanelMenu-menu {
    background-color: #333;
    overflow-y: auto !important;
}