#footer {
    height: auto;
    border-top: 14px solid #000;
    border-bottom: 0;
    margin-top: 0px;
    #ftwrapper {
        margin: 0px 6px;
        height: auto;
        clear: both;
        div {
            max-width: 100%;
            @include box-sizing(border-box);
        }

        ._footer-group-button {
            width: 100%;
            display: block;
            text-align: left;
            font-size: 13px;
            padding: 15px 6px;
            font-weight: bold;
            border-bottom: 1px solid #e0e0e0;
            color: #666666;
            @include box-sizing(border-box);

            i {
                float: right;
                color: #e0e0e0;
            }
            &[data-ur-state=enabled] {
                i {
                    @include transform(rotate(90deg));
                }
            }
        }
        ._footer-group-content {
            a {
                text-align: left;
                padding: 15px 6px;
                display: block;
                width: 100%;
                background-color: #F0F0F0;
                color: #969696;
                margin: 1px 0;
                font-size: 13px;
                @include box-sizing(border-box);

                i {
                    float: right;
                    color: #e0e0e0;
                }
            }

        }
        a[data-mw-footer-item] {
            border-bottom: 0;
        }
        a[data-mw-usage=email-button] {
            display: block;
            font-size: 15px;
            font-weight: bold;
            margin: 0 !important;
            padding: 15px;
            text-align: center;
            color: #333333;
            border: 1px solid #999999;
            @include border-radius(5px);
            @include box-sizing(border-box);
        }

        .txtCopyright {
            float: none;
            width: auto;
            text-align: center;
            padding-top: 6px;
        }

        ._footer-social-bar {
            padding-top: 15px;
            background: none;
            a {
                background: none;
                float: none;
                display: inline-block;
                width: auto;
                height: auto;
                margin: 0 5px;
                color: #444;
               
               i {
                    font-size: 45px;
               } 
            }
        }


    }
}
.copytxt-inner {
    text-align: center;
    > div {
        display: inline-block;
        vertical-align: middle;

        &.stellaServiceFooter {
            margin-left: 10px;
        }
        span {
            display: none !important;
        }
        img {
            height: 45px;
            widows: auto;
        }
    }
}