header#header._header {
    height: auto;
    width: auto !important;
    .headerslot .headerslotcontent .bottombannercontainer {
        text-align: center;
        span {
            color: #e57f7f;
            font-weight: bold;
            text-transform: uppercase;
        }
        a.fancybox {
            text-transform: capitalize;
            text-decoration: underline;
        }
        padding-bottom: 6px;
    }
    .custinfo {
        display: none;
    }
    .headerbottom {
        height: auto;
        border-bottom: 1px solid black;

        .headerleft {
            float: none;

            a#_search-toggle {
                color: #999;
                background: #eee;
                position: absolute;
                z-index: 10000;
                right: 0px;
                text-align: center;
                i {
                    font-size: 25px;
                    width: 40px;
                    line-height: 40px;
                }
            }

            h1.logo
            {
                height: 40px;
                margin: 0;
                display: block;
                a {
                    width: 100% !important;
                    height: 20px;
                    margin-top: 0;
                    background-size: contain;
                }
            }
        }

        .headerright {   
            float: none;

            .headersearchwrapper {
                display: none;
                width: 100%;

                .sitesearch {
                    margin: 5px 0px;
                    form {
                        padding: 5px 20px 5px 5px;

                        fieldset {
                            width: auto;

                            input {
                                margin: 0px 5px;
                                height: 26px !important;
                                line-height: 26px;
                                font-size: 16px;
                                width: 100%;
                            }
                            button {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

    }
    iframe {
        display: none;
    }
    ._header-buttons {
        margin-top: 6px;
        display: table;
        width: 100%;
        table-spacing: 1px;
        ._header-button {
            text-align: center;
            display: table-cell;
            width: 33%;
            div {
                margin-right: 6px;
                padding: 10px;
                background-color: #585858;
                color: #fff;
                font-size: 18px;

                i {
                    padding: 5px;
                }
            }
            &#_bag-button {
                position: relative;
                div {
                    padding: 13px 13px 14px;
                    text-indent: 15px;
                    span {
                        position: relative;
                        i {
                            background: image-url("button-bag.png") no-repeat;
                            width: 20px;
                            height: 20px;
                            display: block;
                            position: absolute;
                            left: -20px;
                            top: 2px;
                            background-size: 15px;
                        }
                    }
                }
                span._cart-count {
                    position:absolute;
                    right: 5px;
                    top: -4px;
                    background: #cc0000;
                    color: #fff;
                    padding: 3px 5px 3px 3px;

                    font-size: 11px;
                    font-weight: bold;

                    @include border-radius(2px);
                }

            }
            &:last-of-type {
                div {
                    margin-right: 0;
                }
            }
        }
        .categorywrapper {}
    }
    > img {
        display: none;
    }
}
.headerbar2 {
    display: none;
}