body[data-menu-position="open"] {
    position: fixed;
}

.categorywrapper {
    border-bottom: 0px;
    margin: 0px;
    display: none;
    .categorymenu {
        float: none;
        height: auto;
        ul, li, div {
            top: 0;
            left: 0;
            border: 0px !important;
            padding: 0px;
            height: auto;
            float: none;
            width: 100%;
            position: initial;

            ul, li {
                padding: 0;
                top: 0;
                left: 0;
                width: 100% !important;
                border: 0px;
                position: initial;
                visibility: visible;
                display: block;
                > a {
                    &[data-ur-state=enabled] i {
                        @include transform(rotate(90deg));
                    }
                }
                &.topLevelMenu {
                    padding: 0px;
                    height: auto;
                    > a {
                        margin: 0px;
                        color: #ddd;
                        font-weight: bold;
                        background-color: #333;
                        border-bottom: 1px solid #111;
                        border-top: 1px solid #444;
                        i {
                           color: #555;
                        }
                    }
                }
                &#pesalecategory {
                    > a {
                        color: red;
                    }
                }
            }
            &#primaryNavigationList {
                border-top: 1px solid #000 !important;
            }
            &:hover {
                .topLevelMenu {
                    height: auto;
                    padding: 0;
                }
            }
            a:hover .subMenuContent, .subMenuContent {
                visibility: auto;
                border-style: none !important;
            }
        }
        ul {
            > li {
                a, div.hasThirdLevel {
                    color: #969696;
                    margin: 0;
                    background-color: #f3f3f3;
                    border-bottom: 1px solid #e3e3e3;
                    border-top: 1px solid #f9f9f9;
                    font-size: 16px;
                    padding: 12px 6px !important;
                    &.hasThirdLevelMobile {
                        display: block !important;
                    }
                    @include box-sizing(border-box);
                    &:visited {
                        color: #969696;
                    }
                    i {
                        float: right;
                    }
                }
                > div > ul {
                    li {
                        a {
                            padding-left:14px !important;
                            font-size: 14px;
                            color: #777;
                        }
                        div.subcategories a {
                            padding-left:28px !important;
                        }
                    }
                    li:first-of-type a {
                        margin-top: 0;
                    }
                    li:last-of-type a {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .minicarthover {
        display: none;
    }
    .sitesearch {
        background-color: #333;
        height: 37px;
        padding: 5px;
        text-align: left;
        margin: 0px;

        fieldset {
            width: auto !important;
            height: auto;

            input {
                @include appearance(none);
                @include box-sizing(border-box);
                border: none;
                font-size: 13px !important;
                height: 37px !important;
                line-height: normal !important;
                padding: 10px !important;
                vertical-align: top;
                width: 229px !important;
            }
            button[type="submit"] {
                background-color: #ccc;
                background-image: none;
                border: 2px solid white;
                color: #666;
                float: none;
                font-size: 23px;
                height: 37px !important;
                width: 40px !important;

                .fa {
                    margin-left: 2px;
                }
            }
        }
    }
    .headercustomerinfo {
        a {
            display: block;
            color: #eee;
            background-color: #333;
            border-bottom: 1px solid #111;
            border-top: 1px solid #444;
            margin: 0;
            font-weight: bold;
            font-size: 16px;
            padding: 12px 6px !important;
            text-transform: uppercase;

            .fa {
                color: #555;
                float: right;
            }
        }
        a:hover {
            text-decoration: none;
        }
        .divider {
            display: none;
        }
    }
    .categorywrapper-section-header {
        background-color: #444;
        color: #999;
        font-size: 14px;
        padding: 8px 6px !important;
        margin: 0;
        font-weight: bold;
    }
}
